:root {
    --main-bg-color: black;

    --main-text-color: white;
    --main-font: 16px 'Varela Round', Helvetica, sans-serif;
    --mono-font: 20px 'Cutive Mono', Courier, monospace;

    --border-radius: 5px;

    --input-bg-color: lightgray;
    --input-text-color: black;
    --input-border: 1.5px solid lightgray;
    --input-hover-color: hotpink;
    --input-active-color: lightcyan;
    --hover-bg-color: gray;
    --hover-text-color: black;

    --text-input-bg-color: rgb(44, 36, 36);
    --text-input-text-color: lightcyan;

    --tab-content-bg-color: white;
    --tab-content-border: 2px solid black;
    --GUI-text-color: black;

}

body {
    font: var(--main-font);
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    white-space: nowrap;
    overflow-x: hidden;
    height: 100%;
}

/*diagram-----------------------------------------------*/
#diagram {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10;    
    background-color: black;
}
#main-content {
    display: block;
}
.fret {
    stroke: gray;
    stroke-width: 4px;
}
.fretContainer {
    display: inline-block;
}
.headContainer {
    display: inline-block;
    vertical-align: top;
}
.marker {
    fill: var(--text-input-bg-color);
}
.marker12 {
    fill: rgb(66, 54, 54);
}
.note {
    fill: var(--text-input-bg-color);
    stroke-width: 2px;
    r: 16; /*do I want to define this here, or programmatically for animations?*/
}
.head {
    stroke: gray;
}
.root {
    stroke: lightseagreen;
}
.guides {
    stroke: red;
}
.auxExp {
    stroke: hotpink;
}
.auxImp {
    stroke: darkorchid;
}
.strings {
    stroke: lightgray;
}
.text {
    fill: var(--main-text-color);
    font: var(--main-font);
    text-anchor: middle;
    stroke: none;
}

/*inputs-----------------------------------------------*/
input, textarea {
    -webkit-appearance: none;
    cursor: pointer;
    border: var(--input-border);
    border-radius: var(--border-radius);
    text-align: center;
    padding: 5px;
    margin: 5px;
    font: inherit;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}
input[type=checkbox] {
    vertical-align: middle;
    height: 32px;
    width: 32px;
}
input[type=checkbox]:hover, input[type=button]:hover {
    background-color: var(--input-hover-color);
    cursor: pointer;
}
input[type=checkbox]:active input[type=button].active {
    /*why doesn't this override the hover color?*/
    background-color: var(--input-active-color) !important;
}
input[type=checkbox]:checked {
    background-color: var(--input-active-color);
}
textarea, input[type=text], input[type=number] {
    cursor: text;
    background-color: var(--text-input-bg-color);
    font: var(--mono-font);
    color: var(--text-input-text-color);
    padding: .25em;
}
/* for Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
textarea {
    height: 85%;
    width: 30ch;
    resize: none;
    display: block;
    text-align: left;
    margin-top: 16px;
    padding: .5em;
    white-space: pre-line;
}
#file-load {
    display: block;
}


/* song mode playback dashboard-------------------------- */
#playback-dash, #song-metadata {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
@media (max-width:960px) {
    #song-metadata { display: none; }
}
#title {
    width: 40ch;
}#tab
#tempo, #time-sig, #count-in {
    width: 6ch;
}
/* set for max counter width (4/4) */
#writer, #transcriber, #counter {
    width: 18ch;
}

/*song editor-----------------------------------------------*/
#song-editor {
    color: var(--GUI-text-color);
    border: var(--input-border);
    padding: 10px;
    margin: 10px;
    border-radius: var(--border-radius);
    /*overflow-y: scroll;*/
    display: inline-block;
    background-color: white;
    overflow: scroll;
}
#song-editor {
    display: flex;
    flex-flow: row wrap;
}
/* chord menu, etc. */
#chord-menu-wrapper {
    width: 10ch;
    text-align: center;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
#chord-menu {
    margin: 0;
    padding: 0;
    flex-shrink: 1;
}

/* section menu */
#section-wrapper {
    display: inline-block;
    overflow: scroll;
}
#section-menu {
    width: 600px;
    /* display: flex; */
    /* flex-flow: row wrap; */
}
#section-order, #repeat-order {
    width: 12ch;
}
.tab-content {
    border: var(--tab-content-border);
    background-color: var(--tab-content-bg-color);
    border-radius: var(--border-radius);
    display: none;
    overflow: scroll;
    margin: 10 0;
}

/* editor view switcher */
#editor-expander {
    display: inline-block;
    height: 100%;
    background-color: blue;
}

/* text editor */
#text-wrapper > * {
    display: block;
}
#file-container {
    cursor: pointer;
    position: relative;
    border: var(--input-border);
    border-radius: var(--border-radius);
    text-align: center;
    padding: 5px;
    margin: 5px;
    width: 150px;
    font: inherit;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}
#file-container:hover {
    background-color: var(--input-hover-color);
}
#file-container [type=file] {
    cursor: inherit;
    display: block;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}


/*GUI drag zones and child elements*/
.drag-zone {
    margin: 8 20;
    padding: 8 0;
    display: block;
}
.drag-zone > div:hover {
    background-color: var(--input-hover-color);
}
#chord-menu > * {
    display: block !important;
}
sh > * {
    display: none;
}
.drag-chord, .spacer-bar, .spacer-dot {
    cursor: move;
}
.drag-chord {
    background-color: lightgray;
    font: var(--main-text-color);
    color: black;
    border: 1.5px solid black;
    padding: 10px;
    border-radius: var(--border-radius);
    margin: 5px;
    text-align: center;
}
.spacer-bar, .spacer-dot {
    background-color: black;
    margin: 5px;
    border-radius: var(--border-radius);
    display: inline-block;
    vertical-align: middle;
}
.spacer-bar {
    width: 10px;
    height: 40px;
}
.spacer-dot {
    width: 20px;
    height: 20px;
}
.sort-select, .sort-drag {
    background-color: var(--input-active-color);
}
.sort-ghost {
    background-color: lightgray;
    opacity: .4;
}
.current-chord-GUI {
    border-color: red;
}